logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
legacy
*.swp
shopmobile/www/bower_components/router.js
shopmobile/www/bower_components/router
shopmobile/www/bower_components/ratchet/sass
shopmobile/www/bower_components/ratchet/fonts
shopmobile/www/bower_components/ratchet/ratchicons-data-generator.js
shopmobile/www/bower_components/jquery/src
shopmobile/www/bower_components/jquery/dist/jquery.min.map
shopmobile/www/bower_components/jasmine
shopmobile/www/bower_components/*/bower.json
shopmobile/www/bower_components/*/.bower.json
shopmobile/www/bower_components/*/.gitignore
shopmobile/www/bower_components/*/.gitattributes
shopmobile/www/bower_components/*/README.md
shopmobile/www/bower_components/*/Gruntfile.js
shopmobile/www/bower_components/*/grunt
shopmobile/www/bower_components/*/package.json
shopmobile/www/bower_components/**/.jscsrc
shopmobile/www/bower_components/**/.jshintrc
shopmobile/www/bower_components/**/*.rb
shopmobile/www/bower_components/**/*.gemspec
shopmobile/www/bower_components/handlebars/handlebars.amd.min.js
shopmobile/www/bower_components/handlebars/handlebars.js.nuspec
shopmobile/www/bower_components/handlebars/handlebars.runtime.amd.js
shopmobile/www/bower_components/handlebars/handlebars.runtime.amd.min.js
shopmobile/www/bower_components/handlebars/component.json
shopmobile/www/bower_components/handlebars/composer.json
shopmobile/www/bower_components/handlebars/handlebars.amd.js
shopmobile/www/bower_components/uuid/test
shopmobile/www/bower_components/uuid/misc
shopmobile/www/bower_components/uuid/benchmark
shopmobile/www/bower_components/uuid/LICENSE.md
shopmobile/www/bower_components/uuid/rng-browser.js
shopmobile/www/bower_components/uuid/rng.js
.travis.yml
