tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.swp
www/bower_components/router.js
www/bower_components/router
www/bower_components/ratchet/sass
www/bower_components/ratchet/fonts
www/bower_components/ratchet/ratchicons-data-generator.js
www/bower_components/jquery/src
www/bower_components/jquery/dist/jquery.min.map
www/bower_components/jasmine
www/bower_components/*/bower.json
www/bower_components/*/.bower.json
www/bower_components/*/.gitignore
www/bower_components/*/.gitattributes
www/bower_components/*/README.md
www/bower_components/*/Gruntfile.js
www/bower_components/*/grunt
www/bower_components/*/package.json
www/bower_components/**/.jscsrc
www/bower_components/**/.jshintrc
www/bower_components/**/*.rb
www/bower_components/**/*.gemspec
www/bower_components/handlebars/handlebars.amd.min.js
www/bower_components/handlebars/handlebars.js.nuspec
www/bower_components/handlebars/handlebars.runtime.amd.js
www/bower_components/handlebars/handlebars.runtime.amd.min.js
www/bower_components/handlebars/component.json
www/bower_components/handlebars/composer.json
www/bower_components/handlebars/handlebars.amd.js
www/bower_components/uuid/test
www/bower_components/uuid/misc
www/bower_components/uuid/benchmark
www/bower_components/uuid/LICENSE.md
www/bower_components/uuid/rng-browser.js
www/bower_components/uuid/rng.js
platforms
android.json
