<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flurdy.shop.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shop</name>
    <description>
        Shopping list shared across devices and people
    </description>
    <author email="ivar@flurdy.com" href="http://flurdy.com">
        Flurdy
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
