@(shoppingList: models.ShoppingList, itemForm: Form[ShoppingItem])(implicit flash: Flash)

@import helper._

@main("Shopping list") {

<div id="add-line">
    @form(action = routes.ShoppingItemController.addItem) {
    <input type="text" name="name" maxlength="124" size="32" placeholder="Item name" value="@itemForm("name").value"/>
    <input type="hidden" name="description" value=""/>
    <button type="submit">add</button>
    }
</div>
        }{

<style type="text/css">
    #aft, #bridge { display: block; }
    #bow { border: 2px solid white; }
</style>

<div class="tabs">
    <ul>
        <li class="active-tab"><span>to buy</span></li>
        <li><a href="@routes.ShoppingListController.purchased()">purchased</a></li>
    </ul>
</div>

@itemForm.globalError.map { error =>
<p class="error">
    @error.message
</p>
}

@flash.get("message").map { message =>
<p class="error">
   @message
</p>
}

<ol id="shoppingList" class="itemList">
    @shoppingList.list.map { item =>
        @if(!item.isPurchased){
            <li>
                <div class="buttons">
                 @form(action = routes.ShoppingItemController.purchaseItem(item.name)) {
                     <button type="submit">purchase</button>
                }
                </div>
                <div class="itemName">
                    <a href="@routes.ShoppingItemController.showItem(item.name)">@item.name</a>
                </div>
                <div class="itemDescription">@item.description</div>
            </li>
        }
    }
</ol>




}