@(shoppingItem: models.ShoppingItem, itemForm: Form[ShoppingItem])

@import helper._

@main("Shopping item") {

<style type="text/css">
</style>


@itemForm.globalError.map { error =>
<p class="error">
    @error.message
</p>
}

<div>
    @form(action = routes.ShoppingItemController.updateItem(shoppingItem.name)) {
    <fieldset>
        <legend>Name</legend>
        <input type="text" name="name" maxlength="124" size="32" value="@shoppingItem.name"/>
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <textarea name="description" cols="30" rows="12">@shoppingItem.description</textarea>
    </fieldset>
    <fieldset>
        <legend>Is purchased</legend>
        @if(shoppingItem.isPurchased){
        <div class="radio-button">
        <input type="radio" name="isPurchased" id="isPurchased" value="true" checked="checked" />
        <label for="isPurchased">Is purchased</label>
        </div><div class="radio-button">
        <input type="radio" name="isPurchased" id="isNotPurchased" value="false" />
        <label for="isNotPurchased">Is not purchased</label>
        </div>
        } else {
        <div class="radio-button">
        <input type="radio" name="isPurchased" id="isPurchased" value="true" />
        <label for="isPurchased">Is purchased</label>
        </div><div class="radio-button">
        <input type="radio" name="isPurchased" id="isNotPurchased" value="false" checked="checked" />
        <label for="isNotPurchased">Is not purchased</label>
        </div>
        }
    </fieldset>

    <div id="update-button"><button type="submit">update</button></div>
    }


    <div id="remove-button">
        @form(action = routes.ShoppingItemController.removeItem(shoppingItem.name)) {
        <button type="submit">remove</button>
        }
    </div>
    <div id="cancel-button">
        @form(action = routes.ShoppingListController.index()) {
        <button type="submit">back&nbsp;to&nbsp;list</button>
        }
    </div>



</div>


}