@(formdata: play.api.data.Form[String])

@import helper._

@main("Add multiple Shopping items") {

<style type="text/css">
</style>


@formdata.globalError.map { error =>
<p class="error">
    @error.message
</p>
}

<div>
    @form(action = routes.ShoppingListController.addMultipleItems()) {
    <fieldset>
        <legend>New items</legend>
        <p>
            Paste one item name per line please.
        </p>
        <textarea name="items" cols="22" rows="12">@formdata("items").value</textarea>
    </fieldset>

    <button type="submit">add all</button>
    }

    <div id="cancel-button">
        @form(action = routes.ShoppingListController.index()) {
        <button type="submit">back&nbsp;to&nbsp;list</button>
        }
    </div>
</div>


}