@(popularItems: List[ShoppingItem])

@import helper._

@main("Add popular Shopping items") {

<style type="text/css">
</style>



<ol id="popular" class="itemList">
    @for(item <- popularItems) {
    <li>
        <div class="buttons">
            @form(action = routes.ShoppingItemController.addItem) {
                <input type="hidden" name="name" value="@item.name"/>
                <input type="hidden" name="description" value=""/>
                <button type="submit">add</button>
            }
        </div>
        <div class="itemName">
            @item.name
        </div>
        <div class="itemDescription">&nbsp;</div>
    </li>
    }
</ol>



<div id="cancel-button">
    @form(action = routes.ShoppingListController.index()) {
    <button type="submit">back&nbsp;to&nbsp;list</button>
    }
</div>

}