@(shoppingList: models.ShoppingList, itemForm: Form[ShoppingItem])(implicit flash: Flash)

@import helper._

@main("Shopping list") {

<div id="add-line">
    @form(action = routes.ShoppingItemController.addItem) {
    <input type="text" name="name" maxlength="124" size="32" placeholder="Item name" value="@itemForm("name").value"/>
    <input type="hidden" name="description" value=""/>
    <button type="submit">add</button>
    }
</div>
        }{

<style type="text/css">
    #aft, #bridge { display: block; }
    #bow { border: 2px solid white; }
</style>

<div class="tabs">
    <ul>
        <li><a class="@routes.ShoppingListController.index()">to buy</a></li>
        <li class="active-tab"><a href="#">purchased</a></li>
    </ul>
</div>

@itemForm.globalError.map { error =>
<p class="error">
    @error.message
</p>
}

@flash.get("message").map { message =>
<p class="error">
   @message
</p>
}

<ol id="shoppingList" class="itemList">
    @shoppingList.list.map { item =>
    <li @if(item.isPurchased) { class="purchased" }>
        <div class="buttons">

            @if(item.isPurchased){
                @form(action = routes.ShoppingItemController.addItem(item.name)) {
                  <button type="submit">re-add</button>
                }
                @form(action = routes.ShoppingItemController.removeItem(item.name)) {
                 <button type="submit">remove</button>
                }
            }

        </div>
        <div class="itemName">
            <a href="@routes.ShoppingItemController.showItem(item.name)">@item.name</a>
        </div>
        <div class="itemDescription">@item.description</div>
    </li>
    }
</ol>




}