/* ### css by flurdy . Copyright: electric ray 2004, www.eray.co.uk ### */

/* div{ padding: 0px; margin: 0px; } */
body{ color: black; }
a,a:visited{ color: black; }
#bow{
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
    height: 3em;
}
#bow a{ text-decoration: none; }
#bow img { float: left; width: 4em; margin-left: -0em; margin-top: -0em; }

#bow h2 { float: left; margin: 0 2em 0 2em; padding: 0.4em 0; font-size: 1.5em; }

#stern { padding: 0.2em 1.5em; margin: 0px; overflow: hidden; }
#stern #projectlink {
    float: right;
    font-size: 0.8em;
}
#stern #logoutlink {
    text-align: center;
    font-size: 0.8em;
}
#stern #flurdy{
    font-size: 1em;
	float: left;
	margin: 0;
	padding: 0;
}
#stern #flurdy a{
	margin: 0;
	padding: 0;
}
#stern #flurdy img{
	margin: 0;
	padding: 0;
	height: 1em;
}

#cargo .itemList  {
    margin: 0.1em 0 1em 0em;
    padding: 0.2em 0;
    /* display: table; */
    width: 19.5em;
    /* border: 1px solid #999; */
}
#cargo #shoppingList  {
   /* width: 19.5em;
}
#cargo #popular  {
    /* width: 12.5em; */
}
#cargo .itemList li {
    list-style: none;
    border-top: 1px dashed silver;
}
#cargo .itemList li:first-child {
    border-top: 0;
}
#cargo .itemList li > div {
    padding: 0.7em 0.5em;
    margin: 0;
}
#cargo .itemList li .itemName {
    min-width: 6em;
    max-width: 20em;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 1.2em;
    font-weight: bold;
}
#cargo .itemList li .itemDescription {
    min-width: 10em;
    max-width: 20em;
    word-wrap: break-word;
    font-size: 0.8em;
    clear: left;
}
#cargo .itemList li .buttons {
    padding-right: 0.2em;
    white-space: nowrap;
    text-align: right;
    float: right;
    clear: right;
}
#cargo #shoppingList li.purchased .itemName,
#cargo #shoppingList li.purchased .itemDescription {
    color: gray;
    text-decoration: line-through;
}
#cargo #shoppingList li.purchased .itemName a {
    color: gray;
}
#bridge input,
#cargo input {   font-size: 1.2em; margin: 0 2em; }
#bridge input[type="text"],
#cargo input[type="text"] { width: 10em; }
#cargo input[type="radio"] { clear: left; margin: 1em 1em; }

#cargo form,
#aft form { display: inline; }
#cargo fieldset { padding: 1.5em; }
#cargo fieldset legend { font-size: 1.3em; }
#cargo fieldset label { font-size: 1.2em; }
#cargo fieldset textarea { font-size: 1.2em; padding: 0.5em; }
#cargo fieldset { margin: 1em 0; }

#cargo button,
#bridge button,
#aft button {
    font-size: 1.0em;
    padding: 0.3em 0.2em 0.5em 0.1em;
}
#bridge button,
#aft button {
    margin: 0em 0.5em;
}
#cargo button{
    margin: 0em 0.1em 0 0.5em;
}    
#bridge button,
#cargo button{
    width: 6em;
}
#aft button {
    width: 12em;
}
#cargo form button { text-align: center; }
#cargo #update-button,
#cargo #remove-button,
#cargo #cancel-button {float: left;  margin: 0 0 1em 0; }
#cargo button,
#cargo #update-button button,
#cargo #remove-button button,
#cargo #cancel-button button { padding: 0.6em 0; }
#cargo button,
#cargo #update-button button,
#cargo #remove-button button { width: 5em; }
#cargo #cancel-button button { width: 8em; }

#bridge, #aft { padding: 1em; text-align: center; }
#aft form, #aft bridge form {text-align: center;  }
#aft button, #bridge button {text-align: center; margin: 1em; }


#cargo #popular td { padding: 1em 1em; border: 1px dashed silver; }
#cargo #popular td.name { padding: 1em 4em; }
#cargo #popular { padding: 0.5em 0.5em 1em 1em; }

#cargo .error { color: red; }


#cargo .tabs {
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color: silver;
}
#cargo .tabs ul {
    list-style: none;
    border-top: 2px ridge silver;
    border-bottom: 2px ridge silver;
    margin: 0;
    padding: 0.5em 0;
}
#cargo .tabs ul li {
    display: inline;
    overflow: hidden;
    margin: 0;
    padding: 0 0.5em;
}
#cargo .tabs ul li.active-tab {
}
#cargo .tabs ul li a {
    text-decoration: none;
    padding: 0.5em 2em 0.5em 2em;
    margin: 0;
}
#cargo .tabs ul li.active-tab a {
    background-color: white;
    border-bottom: 4px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}