/* ### css by flurdy . Copyright: electric ray 2004, www.eray.co.uk ### */

/* div{ padding: 0px; margin: 0px; } */
body{ color: black; }
a,a:visited{ color: black; }

#bow{
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}
#bow a{ text-decoration: none; }
#bow img { float: left; width: 7em; margin-left: -0em; margin-top: -0em; }

#bow h2 { margin: 0 1em 0 0; padding: 0.6em 1em; font-size: 3em; }

#stern { padding: 0.2em 1.5em; margin: 0px; overflow: hidden; }
#stern div {
    float: right;
    font-size: 0.8em;
}
#stern #flurdy{
    font-size: 1em;
	float: left;
	margin: 0;
	padding: 0;
}
#stern #flurdy a{
	margin: 0;
	padding: 0;
}
#stern #flurdy img{
	margin: 0;
	padding: 0;
	height: 1em;
}

#cargo #shoppingList  {
    margin: 0.1em 0.1em 1em 0.1em;
    padding: 0.2em;
    display: table;
}
#cargo #shoppingList li {
    list-style: none;
    border: 1px dashed silver;
    display: table-row;
    width: 100%;
}
#cargo #shoppingList li > div {
    border-top: 1px dashed silver;
    border-bottom: 1px dashed silver;
    padding: 0.7em 0.5em;
    margin: 0;
}
#cargo #shoppingList li .itemNumber {
    max-width: 2em;
    display: table-cell;
    font-size: 0.6em;
	text-align: center;
    border-left: 1px dashed silver;
}
#cargo #shoppingList li .itemName {
    min-width: 10em;
    width: 100%;
    max-width: 25em;
    overflow: hidden;
    word-wrap: break-word;
    display: table-cell;
    font-size: 1.6em;
    font-weight: bold;
    border-left: 1px dashed silver;
}
#cargo #shoppingList li .itemDescription {
    min-width: 10em;
    max-width: 15em;
    word-wrap: break-word;
    font-size: 1.2em;
    display: table-cell;
}
#cargo #shoppingList li .buttons {
    display: table-cell;
    border-right: 1px dashed silver;
    white-space: nowrap;
    text-align: right;
}
#cargo button,
#bridge button,
#aft button {
    font-size: 1.4em;
    margin: 0em 0.5em;
    padding: 0.6em 1em;
}
#bridge button,
#cargo button{
    width: 8em;
}
#aft button {
    width: 12em;
}
#cargo #shoppingList li.purchased .itemNumber,
#cargo #shoppingList li.purchased .itemName,
#cargo #shoppingList li.purchased .itemDescription {
    color: gray;
    text-decoration: line-through;

}
#cargo #shoppingList li.purchased .itemName a {
    color: gray;
}
#bridge input,
#cargo input {   font-size: 1.4em; }
#cargo input[type="radio"] { margin-left: 3em; }

#cargo form,
#aft form { display: inline; }
#cargo fieldset { padding: 1.5em; }
#cargo fieldset legend { font-size: 1.5em; }
#cargo fieldset label { font-size: 1.2em; }
#cargo fieldset textarea { font-size: 1.2em; }


#cargo fieldset { margin: 1em 0; }
#cargo form button { text-align: center; }
#cargo #update-button{ float: left; margin: 0 0 0 6em; }
#cargo #remove-button{ float: left; margin: 0 0 0 6em; }
#cargo #cancel-button { float: right; margin: 0 0 1em 0; }

#aft { padding: 1em; text-align: center; }
#aft form {text-align: center;  }
#aft button {text-align: center; }

#bridge { padding: 1em; text-align: center; }
#bridge form {text-align: center;  }
#bridge button {text-align: center; }

#cargo #popular td { padding: 1em 1em; border: 1px dashed silver; }
#cargo #popular td.name { padding: 1em 4em; }
#cargo #popular { padding: 4em 4em; }