/* ### css by flurdy . Copyright: electric ray 2004, www.eray.co.uk ### */

/* div{ padding: 0px; margin: 0px; } */
body{ color: black; }
a,a:visited{ color: black; }

#bow{
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}
#bow img { float: left; width: 4em; margin-left: -0em; margin-top: -0em; }

#bow h2 { margin: 0 3em 0 0; padding: 0.6em 1em; }

#stern { padding: 0.2em 1.5em; margin: 0px; overflow: hidden; }
#stern #flurdy{
	float: left;
	margin: 0;
	padding: 0;
}
#stern #flurdy a{
	margin: 0;
	padding: 0;
}
#stern #flurdy img{
	margin: 0;
	padding: 0;
	height: 1em;
}

#cargo #shoppingList  {
margin: 0.1em; padding: 0.2em;
    display: table;
}
#cargo #shoppingList li {
    list-style: none;
    border: 1px dashed silver;
    margin: 0 0.1em;
    padding: 0.2em;
    display: table-row;
}
#cargo #shoppingList li > div {
    border-top: 1px dashed silver;
    border-bottom: 1px dashed silver;
}
#cargo #shoppingList li .itemNumber {
    max-width: 2em;
    display: table-cell;
    padding: 0 0.2em;
    margin: 0;
    font-size: 0.6em;
	text-align: center;
    border-left: 1px dashed silver;
}
#cargo #shoppingList li .itemName {
    max-width: 15em;
    overflow: hidden;
    word-wrap: break-word;
    padding: 0 1em;
    margin: 0;
    display: table-cell;
    font-size: 1.1em;
    font-weight: bold;
}
#cargo #shoppingList li .itemDescription {
    max-width: 10em;
    word-wrap: break-word;
    padding: 0 2em;
    margin: 0;
    font-size: 0.7em;
    display: table-cell;
}
#cargo #shoppingList li .buttons {
    padding: 0 2em;
    margin: 0;
    font-size: 0.9em;
    display: table-cell;
    border-right: 1px dashed silver;
    white-space: nowrap;
}
#cargo #shoppingList li .buttons button{
    font-size: 0.7em;
}

/*
#cargo h1{ font-size: 22pt; font-weight: bold; }
#cargo h2{ font-size: 12pt; font-weight: bold; }
#cargo h3{ font-size: 12pt; font-weight: bold; }
#cargo h4{ font-size: 11pt; font-weight: bold; }
#cargo h5{ font-size: 9pt; font-weight: bold; }
#cargo h6{ font-size: 7pt; font-weight: bold; }
#cargo p{ font-size: 9pt; font-weight: normal; }
#cargo h3 p{ font-size: 12pt; font-weight: bold; }
#cargo h4 p{ font-size: 11pt; font-weight: bold; }
#cargo h5 p{ font-size: 9pt; font-weight: normal; }
#cargo h6 p{ font-size: 7pt; font-weight: normal; }
#cargo li{ font-size: 9pt; font-weight: normal; }
#cargo th{ 
	font-size: 10pt; font-weight: bold;
	text-align: left;
	margin: 0px; padding: 2px 5px; 
}
#cargo td{ 
	font-size: 9pt; font-weight: normal;
	text-align: left;
	margin: 0px; padding: 2px 5px;
}
#cargo h1{ margin: 30px 5px; padding: 5px; }
#cargo h2{ margin: 5px 5px; padding: 5px; }
#cargo h3{ margin: 5px 5px; padding: 5px; }
#cargo h4{ margin: 3px 3px; padding: 5px; }
#cargo h5{ margin: 1px; padding: 3px; }
#cargo h6{ margin: 1px; padding: 1px; }
#cargo p{ margin: 5px; padding: 3px; }
#cargo h5 p{ margin: 1px; padding: 1px; }
#cargo h6 p{ margin: 1px; padding: 1px; }
#cargo input{ background-color: #eee; }
#cargo .smaller{ font-size: 7pt; }
#cargo .error{ color: red; }
#cargo .fullgrid{ 
	border: 2px ridge silver;
	margin: 20px 5px 20px 5px;
	padding: 0px;
}
*/