@()(implicit currentShopper: Option[String] = None)

@import helper._

@main(){
	
	<h3>@Messages("application.tagline")</h3>

	<p>@Messages("application.description")</p>

	@currentShopper match {
		case None => {



		}
		case Some(shopper) => {

			<div class="well">

				<h4>Your lists</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>List</th>
							<th>Owner</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr title="">
							<td class=""><a href="#">Weekly shopping</a></td>
							<td class=""><a href="#">Susan</a></td>
							<td class=""><a href="#" class="btn">view</a></td>
						</tr>
						<tr title="">
							<td class=""><a href="#">DIY shopping</a></td>
							<td class=""><a href="#"><em>Me</em></a></td>
							<td class=""><a href="#" class="btn">view</a></td>
						</tr>
					</tbody>
				</table>
			<!--
			your created lists ordered by last accessed 
			your accessed lists ordered by last edited
			-->
			</div>	
						
			<div class="well">

				<a href="#" class="btn">Create list</a>

			</div>

 		}
	}

}
