@()(implicit currentShopper: Option[String] = None)

@import helper._

@main(){
	
	<h3>@Messages("application.tagline")</h3>

	<p>@Messages("application.description")</p>

	@currentShopper match {
		case None => {

			<div class="well">

				<!-- <h4>Quick link</h4> -->

				<form action="asdas" role="form">

					<div class="form-group">
						<input type="text" name="code"  class="form-control" 
							required placeholder="E.g. 'abcdefghij123'" />	
					</div>	

					<div class="form-group">
						<button type="submit" class="btn btn-block btn-primary">Go to list</button>
					</div>	
					
				</form>

			</div>	

			<div class="well">
				<a href="@routes.Application.viewRegister" class="btn btn-block btn-primary">Register</a>
			</div>	
						
			<div class="well">
				<a href="@routes.Application.viewLogin" class="btn btn-block btn-primary">Log in</a>
			</div>	

		}
		case Some(shopper) => {

 		}
	}


}
