@(shoppingList: models.ShoppingList, itemForm: Form[ShoppingItem])

@import helper._

@main("Shopping list") {

<style type="text/css">
    #aft, #bridge { display: block; }
</style>


<ol id="shoppingList">
    @shoppingList.list.map { item =>
    <li @if(item.isPurchased) { class="purchased" }>
        <div class="itemName">
            <a href="@routes.ShoppingItemController.showItem(item.name)">@item.name</a>
        </div>
        <div class="itemDescription">@item.description</div>
        <div class="buttons">

            @if(item.isPurchased){
                @form(action = routes.ShoppingItemController.removeItem(item.name)) {
                <button type="submit">remove</button>
                }
            } else {
                @form(action = routes.ShoppingItemController.purchaseItem(item.name)) {
                <button type="submit">purchase</button>
                }
            }

        </div>
    </li>
    }
</ol>




}