
#header.bar { padding-top: 10px; height: 56px; }

.bar-nav ~ .content {
    padding-top: 54px;
}

.bar-tab ul { padding-left: 0; }

.badge.badge-inverted.badge-quantity-1 { color: white; }

.bottom-padding{ height: 55px; clear: both; }
